

section{
	position: relative;
/* 	width: 100%; */

}

.ide{
	position: relative;
  max-width: 1000px;
  box-sizing: border-box;
  margin: auto;
}

.ide img{
  position: relative;
  width: 100%;
/*     margin: auto; */
}


.scroll-container {
	height: 100vh;
	width: 100%;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

section {
	height: 100vh;
	scroll-snap-align: center;
}



section {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
