.wheam a{
  display: block;
  width: 100%;
  height: 700px;
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  padding: 20px;

  color: rgba(0, 0, 0, .5);

  background: linear-gradient(0deg, rgba(50, 60, 70, 0.1), rgba(100, 120, 150, 0.3)), url("../images/wheam.jpg");  background-position: center;

  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}

.wheam a:hover{
  color: rgba(0, 0, 0, .9);
  background-image:url("../images/wheam.jpg");
}

.lampe a{
  display: block;
  width: 100%;
  height: 700px;
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  padding: 20px;

  color: rgba(0, 0, 0, .5);
  background: linear-gradient(0deg, rgba(50, 60, 70, 0.1), rgba(100, 120, 150, 0.3)), url("../images/lampe.png");
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.lampe a:hover{
  color: rgba(0, 0, 0, .9);
  background-image:url("../images/lampe.png");
}

.watch a{
  display: block;
  width: 100%;
  height: 700px;
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  padding: 20px;

  color: rgba(255, 255, 255, .5);

  background: linear-gradient(0deg, rgba(50, 60, 70, 0.1), rgba(100, 120, 150, 0.3)), url("../images/watch.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.watch a:hover{
  background-image:url("../images/watch.png");
  color: rgba(255, 255, 255, .9);
}

.tavannes a{
  display: block;
  width: 100%;
  height: 700px;
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  padding: 20px;

  color: rgba(255, 255, 255, .5);

  background: linear-gradient(0deg, rgba(50, 60, 70, 0.3), rgba(100, 120, 150, 0.5)), url("../images/tavannes.png");
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tavannes a:hover{
  background-image:url("../images/tavannes.png");
  color: rgba(255, 255, 255, .9);
}

.ues a{
  display: block;
  width: 100%;
  height: 700px;
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  padding: 20px;

  color: rgba(0, 0, 0, .5);

  background: linear-gradient(0deg, rgba(50, 60, 70, 0.3), rgba(100, 120, 150, 0.5)), url("../images/ues.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ues a:hover{
  background-image:url("../images/ues.png");
  color: rgba(0, 0, 0, .9);
}

.heart a{
  display: block;
  width: 100%;
  height: 700px;
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  padding: 20px;

  color: rgba(0, 0, 0, .5);

  background: linear-gradient(0deg, rgba(50, 60, 70, 0.3), rgba(100, 120, 150, 0.5)), url("../images/heart.png");
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.heart a:hover{
  background-image:url("../images/heart.png");
  color: rgba(0, 0, 0, .9);
}

.bino a{
  display: block;
  width: 100%;
  height: 700px;
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  padding: 20px;

  color: rgba(0, 0, 0, .5);
  background: linear-gradient(0deg, rgba(50, 60, 70, 0.3), rgba(100, 120, 150, 0.5)), url("../images/bino.png");

  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
}

.bino a:hover{
  background-image:url("../images/bino.png");
  color: rgba(0, 0, 0, .9);
}


.pneu a{
  display: block;
  width: 100%;
  height: 700px;
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  padding: 20px;

  color: rgba(0, 0, 0, .5);
  background: linear-gradient(0deg, rgba(50, 60, 70, 0.3), rgba(100, 120, 150, 0.5)), url("../images/pneu.png");
  background-attachment: fixed;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}

.pneu a:hover{
  background-image:url("../images/pneu.png");
  color: rgba(0, 0, 0, .9);
}

@media screen and (max-width: 900px) {
  .wheam a, .lampe a, .watch a, .tavannes a, .bino a, .heart a, .ues a, .pneu a {
    background-attachment: scroll;
  }
}
